* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f4f4f4;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    z-index: 1000;
}

.banner {
    font-size: 2em;
    padding: 20px;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #0056b3;
    padding: 10px;
    width: 99.5%;
    border-radius: 10px;
    margin-bottom: 10px;
        
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #ffcc00; /* Gold color on hover */
    font-size: larger;
    font-weight: lighter;
}
main {
    margin-top: 150px; 
    padding: 20px;
    opacity: 1.0;
    font-style: oblique;
}

/* Page sections */
.page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    transition: transform 0.3s ease;
}

.page-section:hover {
    transform: scale(1.05);
}

/* Grid layout for images */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Specific section styling */
#section1, #section2, #section3, #section4, #section5, #section6 {
    background-size: cover;
    background-position: center;
    height: 300px;
}

#section1 {
    background-image: url(img/poprawne_cele.png);
    background-repeat: no-repeat;
    
}

#section2 {
    background-image: url(img/NoPoverty_gotowy.jpg);
    color: white;
    background-repeat: no-repeat;
    opacity: 0.8;

}

#section3 {
    background-image: url(img/PartnershipForTheGoals_gotowy.jpg);
    color: white;
    background-repeat: no-repeat;
    opacity: 0.8;

}

#section4 {
    background-image: url(img/2016_2030.png);
    color: white;
    background-repeat: no-repeat;

}

#section5 {
    background-image: url(img/193_countries.png);
    color: white;
    background-repeat: no-repeat;
    background-size: 1300px;

}

#section6 {
    background-image: url(img/SustainableDevelopmentGoals_gotowy.jpg);
    background-repeat: no-repeat;

}

.main {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
}
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #007BFF; /* Blue footer */
    color: white;
    position: relative; /* Adjusts position to allow for footer to sit below content */
}